<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <remove name="rpq"/>
        <remove name="rm6passport"/>
        <remove name="ScalesMaintenance"/>
        <remove name="GSMPMFirstCharge"/>
        <remove name="dpa"/>
        <remove name="BioPINGenerator"/>
        <remove name="hm_ladle_tracking"/>
        <remove name="railway"/>
        <remove name="RollingMill"/>
        <remove name="ControllersStateMonitoring"/>
        <remove name="DailyReport"/>
        <remove name="docs"/>
        <remove name="reports"/>
        <remove name="PrintServiceUI"/>
        <remove name="odata_sap_svc"/>
        <remove name="odata_unified_svc"/>
        <remove name="SPNTest"/>
        <remove name="FerroScales"/>
        <remove name="crud_ui"/>
        <remove name="VisualBof"/>
        <remove name="SteelGradeManager"/>
        <remove name="odata_unified_frontend"/>
        <remove name="EngineElectricityDiagnostics"/>
        <remove name="NaturalGasAccountingSystem"/>
        <remove name="ScalesMWebAPI"/>
        <remove name="main"/>
        <remove name="psgi"/>
        <remove name="idsrw_ui"/>
        <rule name="idsrw_ui" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/idsrw_ui/index.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>