body {
}

table.dataTable {
/*    width: 100%;*/
    margin: 0;
/*    clear: both;
    border-collapse: separate;
    border-spacing: 0*/
}

/*Уменьшить размер таблицы*/
.table-report {
    font-size: 0.8rem;
}

.table-report-detali {
    font-size: 0.7rem;
}


table.dataTable tbody td.mw-50 {
    max-width: 50px;
}

table.dataTable tbody td.mw-100 {
    max-width: 100px;
}

table.dataTable tbody td.mw-150 {
    max-width: 150px;
}

table.dataTable tbody td.mw-200 {
    max-width: 200px;
}

table.dataTable tbody td.mw-250 {
    max-width: 250px;
}

table.dataTable tbody td.mw-300 {
    max-width: 300px;
}

table.dataTable tbody td.shorten {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Отобразить типы полей*/
/*Зафиксированные поля - не просвечиваемые*/
table.dataTable.display thead tr th.fixed-column {
    background-color: #ffffff;
}
table.dataTable.display tfoot tr th.fixed-column {
    background-color: #ffffff;
}
