/*:root {*/
    /*--dt-row-green: 166, 255, 166;
    --dt-row-green-text: 0, 0, 0;
    --dt-row-green-link: 9, 10, 11;
    --dt-row-yellow: 253, 242, 186;*/
    /*    --dt-row-yellow-text: 0, 0, 0;*/
    /*--dt-row-yellow-link: 9, 10, 11;*/
/*    --bs-table-bg: transparent;*/
/*}*/

/*Желтый*/
/*table > tbody > tr.yellow > * {
    box-shadow: inset 0 0 0 9999px rgb(13, 110, 253);
    box-shadow: inset 0 0 0 9999px rgb(var(--dt-row-yellow));
    color: rgb(255, 255, 255);
    color: rgb(var(--dt-row-yellow-text));
}

table > tbody > tr.yellow a {
    color: rgb(9, 10, 11);
    color: rgb(var(--dt-row-yellow-link));
}

table.table-striped > tbody > tr:nth-of-type(2n+1).yellow > * {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.95);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-yellow), 0.95);
}*/

.table {
    /*font-size: .9em;*/
}

table#tree-way-table td {
    padding: 0;
}
table#tree-way-table th {
    font-size: .9em;
    font-weight:600;
}
/*.table td {
    padding: 0;
}

.table th {
    font-size: .9em;
    font-weight:600;
}*/

tr.select > td {
    background-color: #ffedda
}

    /*tr.select td.row-select {*/
        /*background-color: #ffedda;*/
        /*background: url("../../img/module/tree_way/eye-solid.svg") no-repeat center center;
        width: 16px;
    }*/

    tr.select:hover > td {
        background-color: #ffdab3
    }

td.station-control {
    background: url('../../img/module/tree_way/details_open.png') no-repeat center center;
    width: 20px;
    cursor: pointer;
}

tr.shown td.station-control {
    background: url('../../img/module/tree_way/details_close.png') no-repeat center center;
    width: 20px;
}

td.park-control {
    background: url('../../img/module/tree_way/details_open.png') no-repeat center center;
    width: 20px;
    cursor: pointer;
}

tr[data-tree-area='station'].shown > td {
    background-color: #dadaff;
}

    tr[data-tree-area='station'].shown:hover  > td {
        background-color: #b3b3ff;
    }

tr[data-tree-area='park'].shown > td {
    background-color: #daffda;
}

    tr[data-tree-area='park'].shown:hover > td {
        background-color: #b3ffb3;
    }

tr.shown td.park-control {
    background: url('../../img/module/tree_way/details_close.png') no-repeat center center;
    width: 20px;
}

/*td.icon-station {
    background: url("../../img/module/tree_way/station.svg") no-repeat center center;
    width: 16px;*/
    /*    height: 16px;
    margin-right: 5px;*/
/*}
td.icon-station-uz {
    background: url("../../img/module/tree_way/station_uz.svg") no-repeat center center;
    width: 16px;*/
    /*    height: 16px;
    margin-right: 5px;*/
/*}*/

/*.icon-park {
    background: url("../../img/module/tree_way/park.svg") no-repeat center center;
    width: 16px;*/
    /*    height: 16px;
    margin-right: 5px;*/
/*}*/

/*.icon-way {
    background: url("../../img/module/tree_way/way.png") no-repeat center center;
    height: 16px !important;*/
    /*    margin-right: 5px;*/
/*}*/

.icon-tree-open {
    background: url("../../img/module/tree_way/tree_detali.png") no-repeat center center;
    width: 16px;
    /*    height: 16px;*/
    /*    margin-right: 5px;*/
}

.icon-tree-open-end {
    background: url("../../img/module/tree_way/tree_end.png") no-repeat center center;
    width: 16px;
    /*height: 16px;*/
    /*    margin-right: 5px;*/
}

.icon-tree-open-skeep {
    background: url("../../img/module/tree_way/tree_skeep.png") no-repeat center center;
    width: 16px;
    /*    height: 16px;*/
    /*    margin-right: 5px;*/
}

.icon-tree-open-not {
    width: 16px;
    height: 16px;
    /*    margin-right: 5px;*/
}
