@charset "UTF-8";

:root {
    --dt-row-ban: 255, 255, 255;
    --dt-row-ban-text: 166, 166, 166;
    --dt-row-ban-link: 166, 166, 166;
    --dt-row-green: 166, 255, 166;
    --dt-row-green-text: 0, 0, 0;
    --dt-row-green-link: 10, 88, 202;
    --dt-row-l-green: 206, 255, 206;
    --dt-row-l-green-text: 0, 0, 0;
    --dt-row-l-green-link: 10, 88, 202;
    --dt-row-yellow: 255, 255, 157;
    --dt-row-yellow-text: 0, 0, 0;
    --dt-row-yellow-link: 10, 88, 202;
    --dt-row-l-yellow: 255, 255, 235;
    --dt-row-l-yellow-text: 0, 0, 0;
    --dt-row-l-yellow-link: 10, 88, 202;
    --dt-row-red: 255, 165, 165;
    --dt-row-red-text: 0, 0, 0;
    --dt-row-red-link: 10, 88, 202;
    --dt-row-pink: 255, 217, 217;
    --dt-row-pink-text: 0, 0, 0;
    --dt-row-pink-link: 10, 88, 202;
    --dt-row-blue: 157, 157, 255;
    --dt-row-blue-text: 0, 0, 0;
    --dt-row-blue-link: 9, 10, 11;
    --dt-row-l-blue: 216, 236, 255;
    --dt-row-l-blue-text: 0, 0, 0;
    --dt-row-l-blue-link: 9, 10, 11;
    --dt-row-violet: 255, 225, 255;
    --dt-row-violet-text: 0, 0, 0;
    --dt-row-violet-link: 9, 10, 11;
    --dt-row-grey: 128, 128, 128;
    --dt-row-grey-text: 250, 250, 250;
    --dt-row-grey-link: 10, 88, 202;
    --dt-row-l-grey: 216, 216, 216;
    --dt-row-l-grey-text: 0, 0, 0;
    --dt-row-l-grey-link: 10, 88, 202;
    /*    --dt-row-selected: 166, 255, 166;
    --dt-row-selected-text: 0, 0, 0;
    --dt-row-selected-link: 9, 10, 11;*/
}

body {
}

table.dataTable {
    /*    width: 100%;*/
    margin: 0;
    /*    clear: both;
    border-collapse: separate;
    border-spacing: 0*/
}

/*Уменьшить размер таблицы*/
.table-report {
    font-size: 0.8rem;
}

.table-report-detali {
    font-size: 0.7rem;
}


table.dataTable tbody td.mw-50 {
    max-width: 50px;
}

table.dataTable tbody td.mw-100 {
    max-width: 100px;
}

table.dataTable tbody td.mw-150 {
    max-width: 150px;
}

table.dataTable tbody td.mw-200 {
    max-width: 200px;
}

table.dataTable tbody td.mw-250 {
    max-width: 250px;
}

table.dataTable tbody td.mw-300 {
    max-width: 300px;
}

table.dataTable tbody td.shorten {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*РЯДЫ*/
/*ban*/
table.table.dataTable > tbody > tr.ban > * {
    box-shadow: inset 0 0 0 9999px rgb(var(--dt-row-ban));
    color: rgb(var(--dt-row-ban-text));
    font-style: italic;
}

table.table.dataTable > tbody > tr.ban a {
    color: rgb(var(--dt-row-ban-link))
}

table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1).ban > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-ban), 0.95)
}

table.table.dataTable.table-hover > tbody > tr.ban:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-ban), 0.975)
}

/*Зеленый ряд*/
table.table.dataTable > tbody > tr:not(.selected).green > * {
    box-shadow: inset 0 0 0 9999px rgb(var(--dt-row-green));
    color: rgb(var(--dt-row-green-text))
}

table.table.dataTable > tbody > tr:not(.selected).green a {
    color: rgb(var(--dt-row-green-link))
}

/*table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1) > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.05)
}*/

table.table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1).green > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-green), 0.95)
}

/*table.table.dataTable.table-hover > tbody > tr:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.075)
}*/

table.table.dataTable.table-hover > tbody > tr:not(.selected).green:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-green), 0.975)
}

/*Светло-зеленый ряд*/
table.table.dataTable > tbody > tr:not(.selected).lgreen > * {
    box-shadow: inset 0 0 0 9999px rgb(var(--dt-row-l-green));
    color: rgb(var(--dt-row-l-green-text))
}

table.table.dataTable > tbody > tr:not(.selected).lgreen a {
    color: rgb(var(--dt-row-l-green-link))
}

/*table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1) > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.05)
}*/

table.table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1).lgreen > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-green), 0.95)
}

/*table.table.dataTable.table-hover > tbody > tr:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.075)
}*/

table.table.dataTable.table-hover > tbody > tr:not(.selected).lgreen:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-green), 0.975)
}

/*Желтый ряд*/
table.table.dataTable > tbody > tr:not(.selected).yellow > * {
    box-shadow: inset 0 0 0 9999px rgb(var(--dt-row-yellow));
    color: rgb(var(--dt-row-yellow-text))
}

table.table.dataTable > tbody > tr:not(.selected).yellow a {
    color: rgb(var(--dt-row-yellow-link))
}

/*table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1) > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.05)
}*/

table.table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1).yellow > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-yellow), 0.95)
}

/*table.table.dataTable.table-hover > tbody > tr:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.075)
}*/

table.table.dataTable.table-hover > tbody > tr:not(.selected).yellow:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-yellow), 0.975)
}

table.table.dataTable > tbody > tr:not(.selected).yellow > * {
    box-shadow: inset 0 0 0 9999px rgb(var(--dt-row-yellow));
    color: rgb(var(--dt-row-yellow-text))
}
/*Красный ряд*/
table.table.dataTable > tbody > tr:not(.selected).red > * {
    box-shadow: inset 0 0 0 9999px rgb(var(--dt-row-red));
    color: rgb(var(--dt-row-red-text))
}

table.table.dataTable > tbody > tr:not(.selected).red a {
    color: rgb(var(--dt-row-red-link))
}

/*table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1) > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.05)
}*/

table.table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1).red > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-red), 0.95)
}

/*table.table.dataTable.table-hover > tbody > tr:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.075)
}*/

table.table.dataTable.table-hover > tbody > tr:not(.selected).red:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-red), 0.975)
}

/*Синий ряд*/
table.table.dataTable > tbody > tr:not(.selected).blue > * {
    box-shadow: inset 0 0 0 9999px rgb(var(--dt-row-blue));
    color: rgb(var(--dt-row-blue-text))
}

table.table.dataTable > tbody > tr:not(.selected).blue a {
    color: rgb(var(--dt-row-blue-link))
}

/*table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1) > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-blue-stripe), 0.05)
}*/

table.table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1).blue > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-blue), 0.95)
}

/*table.table.dataTable.table-hover > tbody > tr:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-blue-hover), 0.075)
}*/

table.table.dataTable.table-hover > tbody > tr:not(.selected).blue:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-pink), 0.975)
}
/*Фиолетовый ряд*/
table.table.dataTable > tbody > tr:not(.selected).pink > * {
    box-shadow: inset 0 0 0 9999px rgb(var(--dt-row-pink));
    color: rgb(var(--dt-row-pink-text))
}

table.table.dataTable > tbody > tr:not(.selected).pink a {
    color: rgb(var(--dt-row-pink-link))
}

/*table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1) > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-pink-stripe), 0.05)
}*/

table.table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1).pink > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-pink), 0.95)
}

/*table.table.dataTable.table-hover > tbody > tr:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-pink-hover), 0.075)
}*/

table.table.dataTable.table-hover > tbody > tr:not(.selected).pink:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-pink), 0.975)
}

/*ЯЧЕЙКИ*/
/*Зеленая ячейка*/
table.table.dataTable > thead > tr > th.green {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-green));
}

table.table.dataTable > tbody > tr:not(.selected) > td.green {
    color: rgb(var(--dt-row-green-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.green {
    color: rgb(var(--dt-row-green-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.green a {
        color: rgb(var(--dt-row-green-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.green {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-green));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.green {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-green), 0.85);
}
/*Светло зеленая ячейка*/
table.table.dataTable > thead > tr > th.lgreen {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-green));
}

table.table.dataTable > tbody > tr:not(.selected) > td.lgreen {
    color: rgb(var(--dt-row-l-green-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.lgreen {
    color: rgb(var(--dt-row-l-green-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.lgreen a {
        color: rgb(var(--dt-row-l-green-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.lgreen {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-green));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.lgreen {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-green), 0.85);
}
/*Феолетовая ячейка*/
table.table.dataTable > thead > tr > th.violet {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-violet));
}

table.table.dataTable > tbody > tr:not(.selected) > td.violet {
    color: rgb(var(--dt-row-violet-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.violet {
    color: rgb(var(--dt-row-violet-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.violet a {
        color: rgb(var(--dt-row-violet-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.violet {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-violet));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.violet {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-violet), 0.85);
}
/*Красная ячейка*/
table.table.dataTable > thead > tr > th.red {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-red));
}

table.table.dataTable > tbody > tr:not(.selected) > td.red {
    color: rgb(var(--dt-row-red-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.red {
    color: rgb(var(--dt-row-red-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.red a {
        color: rgb(var(--dt-row-red-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.red {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-red));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.red {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-red), 0.85);
}
/*Розовая ячейка*/
table.table.dataTable > thead > tr > th.pink {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-pink));
}

table.table.dataTable > tbody > tr:not(.selected) > td.pink {
    color: rgb(var(--dt-row-pink-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.pink {
    color: rgb(var(--dt-row-pink-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.pink a {
        color: rgb(var(--dt-row-pink-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.pink {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-pink));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.pink {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-pink), 0.85);
}
/*Желтая ячейка*/
table.table.dataTable > thead > tr > th.yellow {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-yellow));
}

table.table.dataTable > tbody > tr:not(.selected) > td.yellow {
    color: rgb(var(--dt-row-yellow-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.yellow {
    color: rgb(var(--dt-row-yellow-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.yellow a {
        color: rgb(var(--dt-row-yellow-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.yellow {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-yellow));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.yellow {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-yellow), 0.85);
}
/*Светло желтая ячейка*/
table.table.dataTable > thead > tr > th.lyellow {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-yellow));
}

table.table.dataTable > tbody > tr:not(.selected) > td.lyellow {
    color: rgb(var(--dt-row-l-yellow-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.lyellow {
    color: rgb(var(--dt-row-l-yellow-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.lyellow a {
        color: rgb(var(--dt-row-l-yellow-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.lyellow {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-yellow));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.lyellow {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-yellow), 0.85);
}
/*Синяя ячейка*/
table.table.dataTable > thead > tr > th.blue {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-blue));
}

table.table.dataTable > tbody > tr:not(.selected) > td.blue {
    color: rgb(var(--dt-row-blue-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.blue {
    color: rgb(var(--dt-row-blue-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.blue a {
        color: rgb(var(--dt-row-blue-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.blue {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-blue));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.blue {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-blue), 0.85);
}
/*Голубая ячейка*/
table.table.dataTable > thead > tr > th.lblue {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-blue));
}

table.table.dataTable > tbody > tr:not(.selected) > td.lblue {
    color: rgb(var(--dt-row-l-blue-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.lblue {
    color: rgb(var(--dt-row-l-blue-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.lblue a {
        color: rgb(var(--dt-row-l-blue-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.lblue {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-blue));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.lblue {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-blue), 0.85);
}
/*Серая ячейка*/
table.table.dataTable > thead > tr > th.grey {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-grey));
}

table.table.dataTable > tbody > tr:not(.selected) > td.grey {
    color: rgb(var(--dt-row-grey-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.grey {
    color: rgb(var(--dt-row-grey-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.grey a {
        color: rgb(var(--dt-row-grey-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.grey {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-grey));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.grey {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-grey), 0.85);
}
/*Светло-серая ячейка*/
table.table.dataTable > thead > tr > th.lgrey {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-grey));
}

table.table.dataTable > tbody > tr:not(.selected) > td.lgrey {
    color: rgb(var(--dt-row-l-grey-text));
}

table.table.dataTable > tbody > tr:not(.selected) > td.lgrey {
    color: rgb(var(--dt-row-l-grey-text))
}

    table.table.dataTable > tbody > tr:not(.selected) > td.lgrey a {
        color: rgb(var(--dt-row-l-grey-link))
    }

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+1) > td.lgrey {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-grey));
}

table.dataTable.table-striped > tbody > tr:not(.selected):nth-of-type(2n+0) > td.lgrey {
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-l-grey), 0.85);
}

.required-field {
    border-color: red;
    border-width: 2px;
}

.not-required-field {
    border-color: yellow;
    border-width: 2px;
}

.check-field {
    border-color: blue;
    border-width: 2px;
}