body {
}

.table td {
    padding: .15rem;
}

.table th {
    padding: .15rem;
}


tr.select {
    background-color: #ffedda
}

    tr.select td.row-select {
        background: url("../../img/module/tree_way/eye-solid.svg") no-repeat center center;
        width: 16px;
    }

    tr.select:hover {
        background-color: #ffdab3
    }

td.station-control {
    background: url('../../img/module/tree_way/details_open.png') no-repeat center center;
    width: 20px;
    cursor: pointer;
}

tr.shown td.station-control {
    background: url('../../img/module/tree_way/details_close.png') no-repeat center center;
    width: 20px;
}

td.park-control {
    background: url('../../img/module/tree_way/details_open.png') no-repeat center center;
    width: 20px;
    cursor: pointer;
}

tr[data-tree-area='station'].shown {
    background-color: #dadaff;
}

    tr[data-tree-area='station'].shown:hover {
        background-color: #b3b3ff;
    }

tr[data-tree-area='park'].shown {
    background-color: #daffda;
}

    tr[data-tree-area='park'].shown:hover {
        background-color: #b3ffb3;
    }

tr.shown td.park-control {
    background: url('../../img/module/tree_way/details_close.png') no-repeat center center;
    width: 20px;
}


td.icon-station {
    background: url("../../img/module/tree_way/station.svg") no-repeat center center;
    width: 16px;
    /*    height: 16px;
    margin-right: 5px;*/
}
.icon-park {
    background: url("../../img/module/tree_way/park.svg") no-repeat center center;
    width: 16px;
    /*    height: 16px;
    margin-right: 5px;*/
}

.icon-way {
    background: url("../../img/module/tree_way/way.png") no-repeat center center;
    height: 16px !important;
    /*    margin-right: 5px;*/
}

.icon-tree-open {
    background: url("../../img/module/tree_way/tree_detali.png") no-repeat center center;
    width: 16px;
    /*    height: 16px;*/
    /*    margin-right: 5px;*/
}

.icon-tree-open-end {
    background: url("../../img/module/tree_way/tree_end.png") no-repeat center center;
    width: 16px;
    /*height: 16px;*/
    /*    margin-right: 5px;*/
}

.icon-tree-open-skeep {
    background: url("../../img/module/tree_way/tree_skeep.png") no-repeat center center;
    width: 16px;
    /*    height: 16px;*/
    /*    margin-right: 5px;*/
}

.icon-tree-open-not {
    width: 16px;
    height: 16px;
    /*    margin-right: 5px;*/
}
