table.table-cars-way {
    font-size: .8rem;
}

    table.table-cars-way th {
        text-align: center;
        padding: 0 0.5rem;
    }

    table.table-cars-way td {
        padding: 0 0.5rem;
    }

table.table-total-balance {
    font-size: .9rem;
}

    table.table-total-balance th {
        text-align: center;
/*        padding: 0 0.5rem;*/
    }

    table.table-total-balance td {
        padding: 0 0.5rem;
    }

table.table-sostav-outer-ways {
    font-size: .8rem;
    border-collapse: collapse;
}

    table.table-sostav-outer-ways th {
        text-align: center;
        /*        padding: 0 0.5rem;*/
    }

    table.table-sostav-outer-ways td {
        padding: 0 0.5rem;
    }

table.table-wagons-outer-way {
    font-size: .8rem;
    /*border-collapse: collapse;*/
}

    table.table-wagons-outer-way th {
        text-align: center;
        /*        padding: 0 0.5rem;*/
    }

    table.table-wagons-outer-way td {
        padding: 0 0.5rem;
    }

div.dt-search, div.dt-paging {
    float: right;
    margin-bottom: 2px;
}

div.dt-info {
    float: left;
}

table.table.dataTable > tbody > tr:not(.selected) > td.idle-time-error {
    color: rgb(255, 51, 51);
}

table.table.dataTable > tbody > tr:not(.selected) > td.idle-time-error a {
    color: rgb(255, 51, 51);

}